In [1]:
import numpy as np
import pandas as pd
citibike = pd.read_csv('data\citibike-tripdata.csv', sep=',')

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

- starttime — время начала поездки (дата, время);
- stoptime — время окончания поездки (дата, время);
- start station id — идентификатор стартовой стоянки;
- start station name — название стартовой стоянки;
- start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
- end station id — идентификатор конечной стоянки;
- end station name — название конечной стоянки;
- end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
- bikeid — идентификатор велосипеда;
- usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
- birth year — год рождения клиента;
- gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [2]:
# Сколько пропусков в столбце start station id?
# Какой тип данных имеют столбцы starttime и stoptime?

citibike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [3]:
# Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.
citibike['start station id'].value_counts()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [4]:
# Велосипед с каким идентификатором является самым популярным?
citibike['bikeid'].value_counts()

33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: bikeid, Length: 10004, dtype: int64

In [5]:
#Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer?
# В качестве ответа запишите долю клиентов преобладающеготипа среди 
# общего количества клиентов. Ответ округлите до сотых.

round(citibike['usertype'].value_counts(normalize=True), 2)

Subscriber    0.77
Customer      0.23
Name: usertype, dtype: float64

In [6]:
# Кто больше занимается велоспортом — мужчины или женщины?
# В ответ запишите число поездок для той группы, у которой их больше
citibike['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [7]:
citibike['end station id'].value_counts()

426.0     1963
514.0     1909
519.0     1850
2006.0    1828
497.0     1804
          ...
3183.0       3
3191.0       1
3187.0       1
3074.0       1
3192.0       1
Name: end station id, Length: 765, dtype: int64

In [8]:
# В наших данных присутствуют столбцы, которые дублируют информацию друг о друге:
# это столбцы с идентификатором и названием стартовой и конечной стоянки.
# Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

citibike = citibike.drop(['start station id','end station id'], axis=1)
citibike

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [9]:
citibike

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [10]:
# Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год.
# Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?
citibike['age'] = 2018 - citibike['birth year']
print(citibike[citibike['age'] > 60].shape[0])

11837

In [11]:
citibike.drop(['birth year'], axis=1, inplace=True)

In [23]:
# Создайте признак длительности поездки trip duration. Для этого вычислите интервал 
# времени между временем окончания поездки (stoptime) и временем 
# её начала (starttime) в секундах. Рассчитайте среднее значение по новому столбцу — 
# среднюю длительность поездки, а затем переведите её в секунды. Ответ округлите до целого.

citibike['starttime'] = pd.to_datetime(citibike['starttime'])
citibike['stoptime'] = pd.to_datetime(citibike['stoptime'])
citibike['trip duration'] = citibike['stoptime'] - citibike['starttime']
citibike['trip duration'].mean().seconds

1126

In [26]:
# Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день
# (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

weekday = citibike['starttime'].dt.dayofweek
citibike['weekend'] = weekday.apply(lambda x: 1 if x == 5 or x == 6 else 0)
citibike['weekend'].sum()

115135

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
- поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
- поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
- поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
- поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [27]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
    
citibike['time of day'] = citibike['starttime'].dt.hour.apply(get_time_of_day)

a = citibike[citibike['time of day'] == 'day'].shape[0]
b = citibike[citibike['time of day'] == 'night'].shape[0]
round(a / b)

9